<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>

    <h2>Create a new listing</h2>
    <form method="POST"  action="/listings">
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control">
        </div>
        <br>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" type="text "></textarea>
        </div>
        <br>
        <div>
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="enter image url" class="form-control">
        </div>
        <br>
        <div>
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="enter price" type="number" class="form-control">
        </div>
        <br>
        <div>
             <label for="location" class="form-label">Location</label>
             <input name="listing[location]" placeholder="enter location" type="text" class="form-control">
        </div>
        <br>
        <div>
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control">
        </div>
        <br>
        <button>Add</button>
    </form>
</body>
</html>